h2{
    color: #000;
}

h2 span{
    color: #666;
    font-size: 12px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #E6B30E;
    text-decoration: none;
}


.theme-cfd::selection {
    color: #fff;
    background: #36434e
}

.theme-cfd .auth-main::before {
    background: #36434e
}

.theme-cfd .page-loader-wrapper {
    background: #36434e
}

.theme-cfd .navbar-nav .user-profile .align-items-center {
    background: #36434e
}

.theme-cfd .navbar-nav ul.menu-icon {
    background: #36434e
}

.theme-cfd .sidebar-nav .metismenu>li.active>a {
    background-color: #36434e;
    color: #fff
}

.theme-cfd .sidebar-nav .metismenu a:hover {
    color: #eeeeee;
}

.theme-cfd .sidebar-nav .metismenu a:hover::before {
    background-color: #36434e
}

.theme-cfd .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #36434e;
    color: #36434e
}

.theme-cfd .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #36434e;
    border-color: #36434e
}

.theme-cfd .chat-widget li.right .chat-info {
    background: #36434e;
    color: #fff
}

.theme-cfd .chat-widget li.right .chat-info:before {
    border-left: 10px solid #36434e
}

.theme-cfd .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #36434e;
    border-color: #36434e;
    color: #fff
}

.theme-cfd .blog-page .single_post .footer .stats li a:hover {
    color: #36434e
}

.theme-cfd .auth-main .btn-primary {
    background: #36434e;
    border-color: #36434e
}

.theme-cfd .right_chat li a:hover .media-object {
    border-color: #36434e
}

.theme-cfd.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-cfd.menu-icon .sidebar-nav .metismenu>li i {
    color: #9a9a9a;
}

.theme-cfd .wizard>.steps .current a {
    background: #36434e
}

.theme-cfd .wizard>.steps .done a {
    background: #78909c
}

.theme-cfd .wizard .actions a {
    background: #212121
}

.theme-cfd .noUi-connect {
    background: #36434e
}

.sidebar .metismenu li.heading {
    font-size: 13px;
    color: #007bff;
    padding: 0 15px;
}

.sidebar .metismenu li.heading span{
    font-size: 11px;
    color: #444444;
    text-align: center;
    padding: 25px 0px 0 0px;
}

.navbar-nav .icon-menu {
    color: #d23d46;
}

.navbar-nav .icon-menu:hover {
    color: #80141b;
}

.navbar-nav .icon-menu.conf{
    color: #343a40;
}

.navbar-nav .icon-menu.conf:hover{
    color: #137bf2;
}

.navbar-nav .icon-menu.rocket{
    color: #007bff;
}

.navbar-nav .icon-menu.rocket:hover{
    color: #17416f;
}

a:hover, a:focus {
    color: #36434e;
    text-decoration: none;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #6c7375;
    vertical-align: middle;
    background: #232a32;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.table thead th {
    color: #000;
}

.form-control:disabled, .form-control[readonly] {
    cursor: no-drop;
}

.navbar-nav ul.notifications li.icones{
    border-bottom: 0px solid #1f2125;
    float: left; 
    text-align: center;
}

.navbar-nav ul.notifications li a i{
    font-size: 3em;
}

.navbar-nav ul.notifications li span{
    color: #fff;
}