.theme-purple::selection {
    color: #fff;
    background: #a27ce6
}

.theme-purple .auth-main::before {
    background: #a27ce6
}

.theme-purple .page-loader-wrapper {
    background: #a27ce6
}

.theme-purple .navbar-nav .user-profile .align-items-center {
    background: #a27ce6
}

.theme-purple .navbar-nav ul.menu-icon {
    background: #a27ce6
}

.theme-purple .sidebar-nav .metismenu>li.active>a {
    background-color: #a27ce6;
    color: #fff
}

.theme-purple .sidebar-nav .metismenu a:hover {
    color: #a27ce6
}

.theme-purple .sidebar-nav .metismenu a:hover::before {
    background-color: #a27ce6
}

.theme-purple .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #a27ce6;
    color: #a27ce6
}

.theme-purple .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #a27ce6;
    border-color: #a27ce6
}

.theme-purple .chat-widget li.right .chat-info {
    background: #a27ce6;
    color: #fff
}

.theme-purple .chat-widget li.right .chat-info:before {
    border-left: 10px solid #a27ce6
}

.theme-purple .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #a27ce6;
    border-color: #a27ce6;
    color: #fff
}

.theme-purple .blog-page .single_post .footer .stats li a:hover {
    color: #a27ce6
}

.theme-purple .auth-main .btn-primary {
    background: #a27ce6;
    border-color: #a27ce6
}

.theme-purple .right_chat li a:hover .media-object {
    border-color: #a27ce6
}

.theme-purple.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-purple.menu-icon .sidebar-nav .metismenu>li i {
    color: #a27ce6
}

.theme-purple .wizard>.steps .current a {
    background: #a27ce6
}

.theme-purple .wizard>.steps .done a {
    background: #c18eda
}

.theme-purple .wizard .actions a {
    background: #212121
}

.theme-purple .noUi-connect {
    background: #a27ce6
}

.theme-blue::selection {
    color: #fff;
    background: #093c63
}

.theme-blue .auth-main::before {
    background: #093c63
}

.theme-blue .page-loader-wrapper {
    background: #093c63
}

.theme-blue .navbar-nav .user-profile .align-items-center {
    background: #093c63
}

.theme-blue .navbar-nav ul.menu-icon {
    background: #093c63
}

.theme-blue .sidebar-nav .metismenu>li.active>a {
    background-color: #093c63;
    color: #fff
}

.theme-blue .sidebar-nav .metismenu a:hover {
    color: #093c63
}

.theme-blue .sidebar-nav .metismenu a:hover::before {
    background-color: #093c63
}

.theme-blue .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #093c63;
    color: #093c63
}

.theme-blue .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #093c63;
    border-color: #093c63
}

.theme-blue .chat-widget li.right .chat-info {
    background: #093c63;
    color: #fff
}

.theme-blue .chat-widget li.right .chat-info:before {
    border-left: 10px solid #093c63
}

.theme-blue .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #093c63;
    border-color: #093c63;
    color: #fff
}

.theme-blue .blog-page .single_post .footer .stats li a:hover {
    color: #093c63
}

.theme-blue .auth-main .btn-primary {
    background: #093c63;
    border-color: #093c63
}

.theme-blue .right_chat li a:hover .media-object {
    border-color: #093c63
}

.theme-blue.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-blue.menu-icon .sidebar-nav .metismenu>li i {
    color: #093c63
}

.theme-blue .wizard>.steps .current a {
    background: #093c63
}

.theme-blue .wizard>.steps .done a {
    background: #78909c
}

.theme-blue .wizard .actions a {
    background: #212121
}

.theme-blue .noUi-connect {
    background: #093c63
}

.theme-cyan::selection {
    color: #fff;
    background: #49c5b6
}

.theme-cyan .auth-main::before {
    background: #49c5b6
}

.theme-cyan .page-loader-wrapper {
    background: #49c5b6
}

.theme-cyan .navbar-nav .user-profile .align-items-center {
    background: #49c5b6
}

.theme-cyan .navbar-nav ul.menu-icon {
    background: #49c5b6
}

.theme-cyan .sidebar-nav .metismenu>li.active>a {
    background-color: #49c5b6;
    color: #fff
}

.theme-cyan .sidebar-nav .metismenu a:hover {
    color: #49c5b6
}

.theme-cyan .sidebar-nav .metismenu a:hover::before {
    background-color: #49c5b6
}

.theme-cyan .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #49c5b6;
    color: #49c5b6
}

.theme-cyan .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #49c5b6;
    border-color: #49c5b6
}

.theme-cyan .chat-widget li.right .chat-info {
    background: #49c5b6;
    color: #fff
}

.theme-cyan .chat-widget li.right .chat-info:before {
    border-left: 10px solid #49c5b6
}

.theme-cyan .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #49c5b6;
    border-color: #49c5b6;
    color: #fff
}

.theme-cyan .blog-page .single_post .footer .stats li a:hover {
    color: #49c5b6
}

.theme-cyan .auth-main .btn-primary {
    background: #49c5b6;
    border-color: #49c5b6
}

.theme-cyan .right_chat li a:hover .media-object {
    border-color: #49c5b6
}

.theme-cyan.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-cyan.menu-icon .sidebar-nav .metismenu>li i {
    color: #49c5b6
}

.theme-cyan .wizard>.steps .current a {
    background: #49c5b6
}

.theme-cyan .wizard>.steps .done a {
    background: #78909c
}

.theme-cyan .wizard .actions a {
    background: #212121
}

.theme-cyan .noUi-connect {
    background: #49c5b6
}

.theme-green::selection {
    color: #fff;
    background: #50d38a
}

.theme-green .auth-main::before {
    background: #50d38a
}

.theme-green .page-loader-wrapper {
    background: #50d38a
}

.theme-green .navbar-nav .user-profile .align-items-center {
    background: #50d38a
}

.theme-green .navbar-nav ul.menu-icon {
    background: #50d38a
}

.theme-green .sidebar-nav .metismenu>li.active>a {
    background-color: #50d38a;
    color: #fff
}

.theme-green .sidebar-nav .metismenu a:hover {
    color: #50d38a
}

.theme-green .sidebar-nav .metismenu a:hover::before {
    background-color: #50d38a
}

.theme-green .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #50d38a;
    color: #50d38a
}

.theme-green .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #50d38a;
    border-color: #50d38a
}

.theme-green .chat-widget li.right .chat-info {
    background: #50d38a;
    color: #fff
}

.theme-green .chat-widget li.right .chat-info:before {
    border-left: 10px solid #50d38a
}

.theme-green .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #50d38a;
    border-color: #50d38a;
    color: #fff
}

.theme-green .blog-page .single_post .footer .stats li a:hover {
    color: #50d38a
}

.theme-green .auth-main .btn-primary {
    background: #50d38a;
    border-color: #50d38a
}

.theme-green .right_chat li a:hover .media-object {
    border-color: #50d38a
}

.theme-green.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-green.menu-icon .sidebar-nav .metismenu>li i {
    color: #50d38a
}

.theme-green .wizard>.steps .current a {
    background: #50d38a
}

.theme-green .wizard>.steps .done a {
    background: #5cdb94
}

.theme-green .wizard .actions a {
    background: #212121
}

.theme-green .noUi-connect {
    background: #50d38a
}

.theme-orange::selection {
    color: #fff;
    background: #ffce4b
}

.theme-orange .auth-main::before {
    background: #ffce4b
}

.theme-orange .page-loader-wrapper {
    background: #ffce4b
}

.theme-orange .navbar-nav .user-profile .align-items-center {
    background: #ffce4b
}

.theme-orange .navbar-nav ul.menu-icon {
    background: #ffce4b
}

.theme-orange .sidebar-nav .metismenu>li.active>a {
    background-color: #ffce4b;
    color: #fff
}

.theme-orange .sidebar-nav .metismenu a:hover {
    color: #ffce4b
}

.theme-orange .sidebar-nav .metismenu a:hover::before {
    background-color: #ffce4b
}

.theme-orange .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #ffce4b;
    color: #ffce4b
}

.theme-orange .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #ffce4b;
    border-color: #ffce4b
}

.theme-orange .chat-widget li.right .chat-info {
    background: #ffce4b;
    color: #fff
}

.theme-orange .chat-widget li.right .chat-info:before {
    border-left: 10px solid #ffce4b
}

.theme-orange .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #ffce4b;
    border-color: #ffce4b;
    color: #fff
}

.theme-orange .blog-page .single_post .footer .stats li a:hover {
    color: #ffce4b
}

.theme-orange .auth-main .btn-primary {
    background: #ffce4b;
    border-color: #ffce4b
}

.theme-orange .right_chat li a:hover .media-object {
    border-color: #ffce4b
}

.theme-orange.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-orange.menu-icon .sidebar-nav .metismenu>li i {
    color: #ffce4b
}

.theme-orange .wizard>.steps .current a {
    background: #ffce4b
}

.theme-orange .wizard>.steps .done a {
    background: #e7ca52
}

.theme-orange .wizard .actions a {
    background: #212121
}

.theme-orange .noUi-connect {
    background: #ffce4b
}

.theme-blush::selection {
    color: #fff;
    background: #e47297
}

.theme-blush .auth-main::before {
    background: #e47297
}

.theme-blush .page-loader-wrapper {
    background: #e47297
}

.theme-blush .navbar-nav .user-profile .align-items-center {
    background: #e47297
}

.theme-blush .navbar-nav ul.menu-icon {
    background: #e47297
}

.theme-blush .sidebar-nav .metismenu>li.active>a {
    background-color: #e47297;
    color: #fff
}

.theme-blush .sidebar-nav .metismenu a:hover {
    color: #e47297
}

.theme-blush .sidebar-nav .metismenu a:hover::before {
    background-color: #e47297
}

.theme-blush .right-sidebar .nav-tabs .nav-item .nav-link.active {
    border-color: #e47297;
    color: #e47297
}

.theme-blush .fancy-checkbox input[type="checkbox"]:checked+span:before {
    background: #e47297;
    border-color: #e47297
}

.theme-blush .chat-widget li.right .chat-info {
    background: #e47297;
    color: #fff
}

.theme-blush .chat-widget li.right .chat-info:before {
    border-left: 10px solid #e47297
}

.theme-blush .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
    background: #e47297;
    border-color: #e47297;
    color: #fff
}

.theme-blush .blog-page .single_post .footer .stats li a:hover {
    color: #e47297
}

.theme-blush .auth-main .btn-primary {
    background: #e47297;
    border-color: #e47297
}

.theme-blush .right_chat li a:hover .media-object {
    border-color: #e47297
}

.theme-blush.menu-icon .sidebar-nav .metismenu>li.active i {
    color: #fff
}

.theme-blush.menu-icon .sidebar-nav .metismenu>li i {
    color: #e47297
}

.theme-blush .wizard>.steps .current a {
    background: #e47297
}

.theme-blush .wizard>.steps .done a {
    background: #e98eac
}

.theme-blush .wizard .actions a {
    background: #212121
}

.theme-blush .noUi-connect {
    background: #e47297
}